.page-Breadcrums {
  width: 100vw;   
  height: 400px;                       /* full viewport width */
  margin-left: calc(50% - 50vw);         /* cancel out parent padding */
  position: relative;
  text-align: center;
  color: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 120px 20px 40px;              /* top pushes below navbar */
  box-sizing: border-box;
}

.page-Breadcrums h2 {
  font-size: 2.5rem;
  padding-top: 100px;
  margin: 0;
  text-shadow: 1px 1px 2px gray;
   animation: fadeIn 0.8s ease-in;
}

.Breadcrums-nav {
  margin-top: 10px;
  font-size: 1rem;
  text-shadow: 1px 1px 2px gray;
   animation: fadeIn 0.8s ease-in;
}

.Breadcrums-nav a {
  color: white;
  text-decoration: none;
   animation: fadeIn 0.8s ease-in;
  text-shadow: 1px 1px 2px gray;

}

.Breadcrums-nav a:hover {
  text-decoration: underline;
}
.breadcrumb {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #f5f5f5;
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}